In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import json
import os
from pandas import json_normalize
import time

In [15]:
df = pd.read_json('/Users/neem8001/Desktop/Friends and family/1174742_response.json')
df.head()

,data,token,locale,end_time,latitude,longitude,page_count,start_time,is_complete,current_page_no,current_page_name,recruitment_status_code,recruitment_status_reason_code
about_me,"{'age': 18, 'pph': 'multi', 'sex': 'Female', '...",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
access code,None,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
agreedTac,True,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
dashboardTour,True,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
diary,[{'id': '70a6c2ea-0bbb-4a26-a076-667bc75de7e3'...,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN

In [20]:
with open('/Users/neem8001/Desktop/Friends and family/1174742_response.json') as f:
    d = json.load(f)

In [30]:
df2 = json_normalize(d['data'])
df2.head(3)

,diary,hhcmp,service,srvy_id,diary_id,dst_code,smplu_id,agreedTac,sample_id,diary_type,...,about_me.sunday_news,about_me.survey_name,about_me.local_tvnews,about_me.lang_home_freq,about_me.diary_type_code,about_me.incentive_amount,about_me.country_of_origin,about_me.employment_status,about_me.miles_traveled_mv,about_me.newspaper_time_spent
0,[{'id': '70a6c2ea-0bbb-4a26-a076-667bc75de7e3'...,DOTHR,RADIO,FA23,701102,3,1,True,7011,RAB1B,...,No,about_me,No,mostly_spanish_some_english,Q,$5,us,No,Less than 50,None