In [54]:
import numpy as np
import pandas as pd
import datetime as dt
import json
import os
from pandas import json_normalize
import time

In [65]:
df = pd.read_json('/Users/neem8001/Desktop/Friends and family/1174742_response.json')

In [66]:
df.head()

,data,token,locale,end_time,latitude,longitude,page_count,start_time,is_complete,current_page_no,current_page_name,recruitment_status_code,recruitment_status_reason_code
about_me,"{'age': 18, 'pph': 'multi', 'sex': 'Female', '...",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
access code,None,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
agreedTac,True,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
dashboardTour,True,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
diary,[{'id': '70a6c2ea-0bbb-4a26-a076-667bc75de7e3'...,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN

In [121]:
with open('/Users/neem8001/Desktop/Friends and family/1174742_response.json') as f:
    d = json.load(f)

In [68]:
df2 = json_normalize(d['data'])
df2.head(3)

,diary,hhcmp,service,srvy_id,diary_id,dst_code,smplu_id,agreedTac,sample_id,diary_type,...,about_me.sunday_news,about_me.survey_name,about_me.local_tvnews,about_me.lang_home_freq,about_me.diary_type_code,about_me.incentive_amount,about_me.country_of_origin,about_me.employment_status,about_me.miles_traveled_mv,about_me.newspaper_time_spent
0,[{'id': '70a6c2ea-0bbb-4a26-a076-667bc75de7e3'...,DOTHR,RADIO,FA23,701102,3,1,True,7011,RAB1B,...,No,about_me,No,mostly_spanish_some_english,Q,$5,us,No,Less than 50,None

In [69]:
diary_data = json_normalize(data=d['data'], record_path='diary', 
                            meta=['hhcmp', 'service', 'srvy_id', 'diary_id', 'dst_code',
       'smplu_id', 'agreedTac', 'sample_id', 'diary_type', 'luw_switch',
       'rspndnt_id', 'access code'])

In [70]:
diary_data.head()

,id,location,stop_time,long_entry,start_time,create_time,listen_date,listening_type,next_day_entry,start_stop_time,...,srvy_id,diary_id,dst_code,smplu_id,agreedTac,sample_id,diary_type,luw_switch,rspndnt_id,access code
0,70a6c2ea-0bbb-4a26-a076-667bc75de7e3,[home],11:24,False,09:24,"Wed, 27 Sep 2023 13:24:14 GMT",2023-09-25,streaming_am_fm_radio,False,9:24 AM - 11:24 AM,...,FA23,701102,3,1,True,7011,RAB1B,1,2,None
1,ad0718cf-5cb1-45f1-a486-ba8de3ab7672,NaN,NaN,NaN,NaN,NaN,2023-09-24,NaN,NaN,NaN,...,FA23,701102,3,1,True,7011,RAB1B,1,2,None
2,9e6bd0ee-e2dd-4f5b-85f4-1c9730b99b5f,[car],12:28,False,09:30,"Wed, 27 Sep 2023 13:28:42 GMT",2023-09-25,podcast,False,9:30 AM - 12:28 PM,...,FA23,701102,3,1,True,7011,RAB1B,1,2,None
3,35580eff-8ce1-42bf-bdfb-06df374e13f7,[home],12:29,False,08:07,"Wed, 27 Sep 2023 13:29:44 GMT",2023-09-26,am_fm_radio,False,8:07 AM - 12:29 PM,...,FA23,701102,3,1,True,7011,RAB1B,1,2,None
4,b4e14f5f-53bd-48c7-a17a-515c612d82b0,[work],10:30,False,08:30,"Wed, 27 Sep 2023 13:30:27 GMT",2023-09-26,streaming_am_fm_radio,False,8:30 AM - 10:30 AM,...,FA23,701102,3,1,True,7011,RAB1B,1,2,None

In [89]:
diary_data['stop_time'] = pd.to_datetime(diary_data['stop_time'], format='%H:%M')

In [92]:
diary_data['start_time'] = pd.to_datetime(diary_data['start_time'], format='%H:%M')

In [97]:
diary_data['duration']=diary_data['stop_time']-diary_data['start_time']

In [104]:
diary_data.groupby('listen_date')['duration'].sum()

listen_date
2023-09-22   -1 days +04:00:00
2023-09-23     0 days 01:00:00
2023-09-24     0 days 00:00:00
2023-09-25     0 days 04:58:00
2023-09-26     0 days 09:09:00
Name: duration, dtype: timedelta64[ns]

In [109]:
diary_data['next_day_entry'].value_counts()

False    7
True     1
Name: next_day_entry, dtype: int64

In [111]:
diary_data['long_entry'].value_counts()

False    8
Name: long_entry, dtype: int64

In [115]:
diary_data.groupby('rspndnt_id')['duration'].sum()

rspndnt_id
2   -1 days +19:07:00
Name: duration, dtype: timedelta64[ns]

In [127]:
df2['about_me.race'].value_counts()

White    1
Name: about_me.race, dtype: int64

In [129]:
df.head()

,data,token,locale,end_time,latitude,longitude,page_count,start_time,is_complete,current_page_no,current_page_name,recruitment_status_code,recruitment_status_reason_code
about_me,"{'age': 18, 'pph': 'multi', 'sex': 'Female', '...",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
access code,None,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
agreedTac,True,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
dashboardTour,True,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN
diary,[{'id': '70a6c2ea-0bbb-4a26-a076-667bc75de7e3'...,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc...,,2023-09-27 15:33:16.870000+00:00,NaN,NaN,33,2023-09-27 15:25:36.771000+00:00,False,17,store_type_page,NaN,NaN